*::-webkit-scrollbar {
    display: none;
    /* skryje scrollbar pre Chrome a safari */
}

* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #191919;
    color: #2648dd;
    font-family: 'JosefinSans', sans-serif;
    letter-spacing: 1px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
}

@font-face {
    font-family: JosefinSans;
    src: url(/fonts/josefin_sans/JosefinSans.ttf);
}

.chyba {
    font-size: 250px;
}

.text-nadpis {
    font-size: 50px;
}

.text {
    font-size: 30px;
    padding-bottom: 10px;
}

.button {
    background-color: #2648dd;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 40px;
    transition: .4s;
    font-size: 35px;
}

.button:hover {
    background-color: transparent;
    border: 1px solid #2648dd;
    cursor: pointer;
}


div {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

div:before,
div:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@media only screen and (max-width: 449px) {
    .chyba {
        font-size: 125px !important;
    }

    .text-nadpis {
        font-size: 35px !important;
    }

    .text {
        font-size: 15px !important;
    }

    .button {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 800px) and (min-width: 450px) {
    .chyba {
        font-size: 175px !important;
    }

    .text-nadpis {
        font-size: 45px !important;
    }

    .text {
        font-size: 25px !important;
    }

    .button {
        font-size: 30px !important;
    }
}